 @**
  
  Project SmartBlazor
  Copyright (C) 2022 Alessio Saltarin 'alessiosaltarin@gmail.com'
  This software is licensed under MIT License. See LICENSE.
  
 **@
 
@using SmartBlazor.Service

@inject ISiteUserService _userService
@inject ISessionService  _sessionService
@inject NavigationManager _navigationManager
@inject ILogger<LoginForm> _logger

<form>
    <div class="field">
        <label class="label">Username</label>
        <div class="control has-icons-left has-icons-right">
        <input class="input is-info" 
                type="text" 
                placeholder="Choose a username"
                @bind="_candidateUser">
        <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
        </span>
        </div>
        <p class="help is-info">Insert your username here. If unsure, type 'guest'</p>
    </div>

    <div class="field">
        <label class="label">Password</label>
        <div class="control has-icons-left has-icons-right">
        <input class="input is-info" 
               type="password" 
               placeholder="Password"
               @bind="_candidatePassword">
        <span class="icon is-small is-left">
            <i class="fas fa-key"></i>
        </span>
        </div>
        <p class="help is-info">Insert your password here. If unsure, type 'guest'</p>
    </div>

     <div class="notification @_errorMessageStyle">
          <button class="delete" onclick="DisposeError"></button>
          <div class="is-size-6">
          <strong>Login error</strong>
          <p>Wrong username or password.</p>
          </div>
      </div>

    <div class="field is-grouped mt-5">
        <div class="control">
            <button type="button" class="button is-link" @onclick="Login">Login</button>
        </div>
        <div class="control">
            <a href="/" class="button is-link is-light">Cancel</a>
        </div>
    </div>

</form>

@code 
{
    private string _candidateUser = "";
    private string _candidatePassword = "";
    private string _errorMessageStyle = "is-danger is-light is-hidden";

    public void DisposeError()
    {
        _errorMessageStyle = "is-danger is-light is-hidden";
    }

    private async void Login()
    {
        _logger.LogInformation("User login request...");
        if (_userService.CheckLogin(_candidateUser, _candidatePassword))
        {
            _logger.LogInformation("Login OK, user is " + _candidateUser);
            await _sessionService.Login(_candidateUser);
            _navigationManager.NavigateTo("/");
        }
        else
        {
            _errorMessageStyle = "is-danger is-light";
            _candidateUser = "";
            _candidatePassword = "";
            _logger.LogWarning("Login error: bad username or password");
        }
    }

}
