 @**
  
  Project SmartBlazor
  Copyright (C) 2022-23 Alessio Saltarin 'alessiosaltarin@gmail.com'
  This software is licensed under MIT License. See LICENSE.
  
 **@

<div class="is-size-2">
    @Title
</div>

@code 
{
    [Parameter]
    public string Title { get; set; } = "???";
}
