 @**
  
  Project SmartBlazor
  Copyright (C) 2022 Alessio Saltarin 'alessiosaltarin@gmail.com'
  This software is licensed under MIT License. See LICENSE.
  
 **@

@inherits LayoutComponentBase

<PageTitle>SmartBlazor</PageTitle>

<NavMenu />

<main>
    <section class="section">
        <div class="container">
             @Body
        </div>
    </section>
</main>
