 @**
  
  Project SmartBlazor
  Copyright (C) 2021 Alessio Saltarin 'alessiosaltarin@gmail.com'
  This software is licensed under MIT License. See LICENSE.
  
 **@

<nav class="navbar mx-3 is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    <a class="navbar-item" href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor" target="_blank">
      <img src="/img/blazor-logo.jpg">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasic" class="navbar-menu">
    <div class="navbar-start">

        <NavLink class="navbar-item" href="" Match="NavLinkMatch.All" ActiveClass="is-active">
            Home
        </NavLink>

        <NavLink class="navbar-item" href="counter" ActiveClass="is-active">
            Counter
        </NavLink>

        <NavLink href="fetchdata" class="navbar-item" ActiveClass="is-active">
            Weather
        </NavLink>

        <NavLink href="todo" class="navbar-item" ActiveClass="is-active">
            ToDo
        </NavLink>

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
          <SmartBlazor.Components.SessionButtons />
      </div>
    </div>
  </div>
</nav>




