 @**
  
  Project SmartBlazor
  Copyright (C) 2022-23 Alessio Saltarin 'alessiosaltarin@gmail.com'
  This software is licensed under MIT License. See LICENSE.
  
 **@


@page "/counter"

<PageTitle>Counter</PageTitle>

<section class="section">

    <SmartBlazor.Components.PageHeader Title="Counter" />

    <div>
        <p role="status">Current count: @currentCount</p>
        <button class="button is-link mt-4" @onclick="IncrementCount">Click me</button>
    </div>
</section>


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
