 @**
  
  Project SmartBlazor
  Copyright (C) 2021 Alessio Saltarin 'alessiosaltarin@gmail.com'
  This software is licensed under MIT License. See LICENSE.
  
 **@

@page "/"

<PageTitle>Index</PageTitle>

<section class="section">

    <SmartBlazor.Components.PageHeader Title="SmartBlazor" />
    
    <div class="is-size-4">
    A website template done with <strong>Blazor & Bulma</strong>!
    </div>

</section>
