 @**
  
  Project SmartBlazor
  Copyright (C) 2021 Alessio Saltarin 'alessiosaltarin@gmail.com'
  This software is licensed under MIT License. See LICENSE.
  
 **@

@page "/login"

<PageTitle>User Login</PageTitle>

<section class="section">

    <SmartBlazor.Components.PageHeader Title="Login" />
    
    <div class="is-size-4 mt-3">
        <div class="columns">
            <div class="column is-half">
                <SmartBlazor.Components.LoginForm />
            </div>
            <div class="column">
                &nbsp;
            </div>
            <div class="column">
                &nbsp;
            </div>
        </div>
    </div>

</section>

