 @**
  
  Project SmartBlazor
  Copyright (C) 2022-23 Alessio Saltarin 'alessiosaltarin@gmail.com'
  This software is licensed under MIT License. See LICENSE.
  
 **@

@page "/register"

<PageTitle>Register user</PageTitle>

<section class="section">

    <SmartBlazor.Components.PageHeader Title="Register new user" />
    
    <div class="is-size-4 mt-3">
        <div class="columns">
            <div class="column is-half">
                <SmartBlazor.Components.RegistrationForm />
            </div>
            <div class="column">
                &nbsp;
            </div>
            <div class="column">
                &nbsp;
            </div>
        </div>
    </div>

</section>
