 @**
  
  Project SmartBlazor
  Copyright (C) 2021 Alessio Saltarin 'alessiosaltarin@gmail.com'
  This software is licensed under MIT License. See LICENSE.
  
 **@


@page "/todo"
@using SmartBlazor.Data


<section class="section">

    <SmartBlazor.Components.PageHeader Title="@TodoCount" />

    <div class="block">
        <ul>
            @foreach (var todo in todos)
            {
                <li>
                    <div class="field">
                        <label class="checkbox">
                          <input type="checkbox" @bind="todo.IsDone">
                          @todo.Title
                        </label>
                    </div>
                </li>
            }
        </ul>
    </div>
    <div class="block mt-5">
        <div class="field">
          <label class="label">Add a new to-do item</label>
          <div class="control">
            <input class="input" type="text" placeholder="Something to do..." @bind="newTodo" />
          </div>
        </div>
        <div class="field">
          <button class="button is-link" @onclick="AddTodo">Add todo</button>
        </div>
    </div>
</section>



@code {
    private List<TodoItem> todos = new();
    private string? newTodo;

    public string TodoCount
    {
        get
        {
            return "ToDo (" + this.todos.Count(todo => !todo.IsDone).ToString() + ")";
        }

    }

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }

}

