@inherits LayoutComponentBase

<PageTitle>SmartBlazor</PageTitle>

<NavMenu />

<main>
    <section class="section">
        <div class="container">
             @Body
        </div>
    </section>
</main>
