@inherits LayoutComponentBase

<PageTitle>SmartBlazor</PageTitle>

<section class="section">
    <NavMenu />
</section>


<main>
    <section class="section">
        <div class="container">
             @Body
        </div>
    </section>
</main>
