<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    <a class="navbar-item" href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor" target="_blank">
      <img src="/img/blazor-logo.jpg">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
        <NavLink class="navbar-item" href="" Match="NavLinkMatch.All">
            Home
        </NavLink>

        <NavLink href="counter" class="navbar-item">
            Counter
        </NavLink>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <NavLink href="fetchdata" class="navbar-item">
            Fetch Data
          </NavLink>
          <NavLink href="todo" class="navbar-item">
            ToDo List
          </NavLink>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-info">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>



